<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viatom.messagepushing.mapper.UserMapper">


    <insert id="bindUserDeviceToken" parameterType="com.viatom.messagepushing.pojo.vo.BaseSearchConditional" >
        insert into
        push_user(id,user_id,device_token,create_time)
        values(null,#{userId},#{deviceToken},now())
    </insert>


</mapper>